<div class="conteiner" ng-controller="funcionarioCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">Lista de Funcionários</div>

        <div class="panel-body text-right">
            <button type="button" class="btn btn-success" data-target="#AdicionarFuncionario" data-toggle="modal">
                <span class="glypicon glyphicon-plus"></span>
            </button>
        </div>

        <table class="table table-bordered">
            <thead style="background-color: burlywood;">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Departamento</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="func in Funcionarios">
                    <td class="text-center">{{func.FuncionarioId}}</td>
                    <td class="text-center">{{func.Nome}}</td>
                    <td class="text-center">{{func.Email}}</td>
                    <td class="text-center">{{func.Departamento}}</td>
                    <td class="text-center">{{func.Cargo}}</td>
                    <td class="text-center" style="width: 200px">
                        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @* Inicio modal - adicionar Funcionário *@
    
    <div class="modal" id="AdicionarFuncionario" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-sm-8">
                        <h3 class="text-info">Adicionar Funcionário</h3>
                    </div>
                    <div class="col-sm-4 text-right" style="margin-top: 20px; margin-bottom: 10px;">
                        <button type="button" class="btn btn-success text-right" id="btnSalvar" data-dismiss="modal" ng-click="adicionarFuncionario()">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                        <button type="button" class="btn btn-danger text-left" id="btnSalvar" data-dismiss="modal" ng-click="limpaDados()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="AdicionarFuncionarioForm">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" readonly="readonly" name="funcionarioId" type="hidden" placeholder="Id" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="nome" ng-model="nome" placeholder="Nome" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="email" ng-model="email" placeholder="E-mail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="departamento" ng-model="departamento" placeholder="Departamento" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="cargo" ng-model="cargo" placeholder="Cargo" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    @* Fim modal - adicionar Funcionário *@
</div>

@section scripts {
    <script src="~/AngularJsApp/Funcionario/Module.js"></script>
    <script src="~/AngularJsApp/Funcionario/Service.js"></script>
    <script src="~/AngularJsApp/Funcionario/Controller.js"></script>
}